<template>
  <v-app>
    <v-app-bar app>
      <NuxtLink to="/">
        <v-img
          class="ma-3"
          :src="'https://digitalservice.jabarprov.go.id/wp-content/uploads/2019/11/logo_jds.png'"
          max-height="96"
          max-width="96"
          contain
        ></v-img
      ></NuxtLink>

      <v-spacer></v-spacer>
      <!-- <div class="text-center">
        <v-btn
          class="ma-2"
          rounded
          color="primary"
          dark
          nuxt
          to="/verification"
        >
          Verifikasi
        </v-btn>
      </div> -->
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data() {
    return {}
  },
}
</script>
