<template>
  <v-card>
    <v-card-title class="headline"> Pendataan Bansos </v-card-title>
    <v-card-text>
      <p>
        Komplek Panghegar adalah sebuah area di wilayah Kelurahan Cipadung
        Kulon, Kecamatan Panyileukan, yang terdiri dari 9 Rukun Warga (RW) dan
        13 Rukun Tetangga (RT). Pejabat tingkat RW setempat membutuhkan sebuah
        aplikasi yang dapat digunakan untuk menginput data-data warganya yang
        membutuhkan bantuan di era pandemi. Aplikasi akan dan hanya akan diakses
        menggunakan smartphone masing-masing RW.
      </p>
      <p>
        Guna memastikan bantuan tersalurkan kepada orang yang tepat, proses
        verifikasi dapat dilakukan dengan mudah, dan data yang masuk bersifat
        valid, dibutuhkan sejumlah data yang dilaporkan oleh RW.
      </p>

      <div class="text-xs-right">
        <em><small>&mdash; Henhen Imam Muldani</small></em>
      </div>
      <hr class="my-3" />
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <!-- <v-btn color="primary" nuxt to="/inspire"> Continue </v-btn> -->
      <v-btn color="primary" nuxt to="/verification"> Verifikasi </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'IndexPage',
}
</script>
