<template>
  <v-app>
    <div class="container">
      <v-form ref="form" v-model="valid" class="verification">
        <h1>Verifikasi</h1>
        <v-text-field
          v-model="user.name"
          :rules="nameRules"
          label="Nama"
          type="text"
          required
        ></v-text-field>
        <v-text-field
          v-model="user.nik"
          :rules="nikRules"
          label="NIK"
          :counter="16"
          type="number"
          min="0"
          hide-spin-buttons
          required
        ></v-text-field>
        <v-text-field
          v-model="user.nomorKk"
          :rules="nomorKkRules"
          label="Nomor Kartu Keluarga"
          :counter="16"
          type="number"
          min="0"
          hide-spin-buttons
          required
        ></v-text-field>
        <v-file-input
          v-model="user.fotoKtp"
          :rules="fotoKtpRules"
          accept="image/png, image/jpeg, image/bmp"
          placeholder="Pilih Foto KTP"
          prepend-icon="mdi-camera"
          label="Foto KTP"
          show-size
        ></v-file-input>
        <v-file-input
          v-model="user.fotoKk"
          :rules="fotoKkRules"
          accept="image/png, image/jpeg, image/bmp"
          placeholder="Pilih Foto KK"
          prepend-icon="mdi-camera"
          label="Foto KK"
          show-size
        ></v-file-input>
        <v-text-field
          v-model="user.umur"
          :rules="umurRules"
          label="Umur"
          type="number"
          hide-spin-buttons
          required
        ></v-text-field>
        <v-radio-group
          v-model="user.jenisKelamin"
          :rules="jenisKelaminRules"
          row
        >
          <v-radio label="Laki-laki" value="Laki-laki"></v-radio>
          <v-radio label="Perempuan" value="Perempuan"></v-radio>
        </v-radio-group>
        <v-textarea
          v-model="user.alamat"
          :rules="alamatRules"
          label="Alamat"
          type="text"
          :counter="255"
          no-resize
          auto-grow
          required
        ></v-textarea>
        <v-select
          v-model="user.rt"
          :rules="rtRules"
          :items="itemsRT"
          label="RT"
          required
        ></v-select>
        <v-select
          v-model="user.rw"
          :rules="rwRules"
          :items="itemsRW"
          label="RW"
          required
        ></v-select>
        <v-text-field
          v-model="user.penghasilanSebelumPandemi"
          :rules="penghasilanSebelumPandemiRules"
          label="Penghasilan sebelum pandemi"
          type="number"
          hide-spin-buttons
          required
        ></v-text-field>
        <v-text-field
          v-model="user.penghasilanSetelahPandemi"
          :rules="penghasilanSetelahPandemiRules"
          label="Penghasilan setelah pandemi"
          type="number"
          hide-spin-buttons
          required
        ></v-text-field>
        <v-select
          v-model="user.alasan"
          :rules="alasanRules"
          :items="itemsAlasan"
          label="Alasan membutuhkan Bantuan"
          required
        ></v-select>
        <v-text-field
          v-if="user.alasan == 'Lainnya'"
          v-model="user.alasanLainnya"
          :rules="alasanLainnyaRules"
          label="Alasan Lainnya"
          required
        ></v-text-field>
        <v-checkbox
          v-model="terms"
          color="green"
          :rules="[(v) => !!v || 'Ceklis untuk menyetujui']"
        >
          <template #label>
            {{ pernyataan }}
          </template>
        </v-checkbox>

        <v-btn color="primary" :disabled="!valid" block @click="submit"
          >Submit</v-btn
        >
        <br />
        <v-btn color="secondary" block @click="to">Back</v-btn>
      </v-form>
    </div>
  </v-app>
</template>

<script>
export default {
  name: 'VerificationPage',
  data() {
    return {
      valid: true,
      terms: false,
      user: {
        name: '',
        nik: '',
        nomorKk: '',
        fotoKtp: null,
        fotoKk: null,
        umur: '',
        jenisKelamin: '',
        alamat: '',
        rt: '',
        rw: '',
        penghasilanSebelumPandemi: '0',
        penghasilanSetelahPandemi: '0',
        alasan: '',
        alasanLainnya: '',
      },
      pernyataan:
        'Saya menyatakan bahwa data yang diisikan adalah benar dan siap mempertanggungjawabkan apabila ditemukan ketidaksesuaian dalam data tersebut.',
      itemsRT: [
        '1',
        '2',
        '3',
        '4',
        '5',
        '6',
        '7',
        '8',
        '9',
        '10',
        '11',
        '12',
        '13',
      ],
      itemsRW: ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
      itemsAlasan: [
        'Kehilangan pekerjaan',
        'Kepala keluarga terdampak atau korban Covid',
        'Tergolong fakir/miskin semenjak sebelum Covid',
        'Lainnya',
      ],
      nameRules: [(v) => !!v || 'Nama tidak boleh kosong!'],
      nikRules: [
        (v) => !!v || 'NIK tidak boleh kosong!',
        (v) => (v && v.length === 16) || 'NIK harus 16 digit',
      ],
      nomorKkRules: [
        (v) => !!v || 'Nomor KK tidak boleh kosong!',
        (v) => (v && v.length === 16) || 'Nomor KK harus 16 digit',
      ],
      fotoKtpRules: [
        (v) => !!v || 'Foto KTP tidak boleh kosong',
        (v) => !v || v.size < 2000000 || 'Foto KTP maksimal berukuran 2 MB!',
      ],
      fotoKkRules: [
        (v) => !!v || 'Foto KK tidak boleh kosong',
        (v) => !v || v.size < 2000000 || 'Foto KK maksimal berukuran 2 MB!',
      ],
      umurRules: [
        (v) => !!v || 'Umur tidak boleh kosong!',
        (v) => (v && v >= 25) || 'Umur minimal 25 Tahun',
      ],
      jenisKelaminRules: [(v) => !!v || 'Jenis Kelamin tidak boleh kosong!'],
      alamatRules: [
        (v) => !!v || 'Alamat tidak boleh kosong!',
        (v) => (v && v.length <= 255) || 'Alamat maksimal 255 karakter',
      ],
      rtRules: [(v) => !!v || 'RT tidak boleh kosong!'],
      rwRules: [(v) => !!v || 'RW tidak boleh kosong!'],
      penghasilanSebelumPandemiRules: [
        (v) => !!v || 'Penghasilan sebelum pandemi tidak boleh kosong!',
      ],
      penghasilanSetelahPandemiRules: [
        (v) => !!v || 'Penghasilan setelah pandemi tidak boleh kosong!',
      ],
      alasanRules: [(v) => !!v || 'Alasan tidak boleh kosong!'],
      alasanLainnyaRules: [(v) => !!v || 'Alasan tidak boleh kosong!'],
      time: null,
    }
  },
  computed: {},
  methods: {
    to() {
      this.$router.go(-1)
    },
    async submit() {
      this.$refs.form.validate()
      await this.processActionWrap()
      if (this.time >= 1500) {
        const formData = new FormData()
        formData.append('name', this.user.name)
        formData.append('nik', this.user.nik)
        formData.append('nomorKk', this.user.nomorKk)
        formData.append('fotoKtp', this.user.fotoKtp)
        formData.append('fotoKk', this.user.fotoKk)
        formData.append('umur', this.user.umur)
        formData.append('jenisKelamin', this.user.jenisKelamin)
        formData.append('alamat', this.user.alamat)
        formData.append('rt', this.user.rt)
        formData.append('rw', this.user.rw)
        formData.append(
          'penghasilanSebelumPandemi',
          this.user.penghasilanSebelumPandemi
        )
        formData.append(
          'penghasilanSetelahPandemi',
          this.user.penghasilanSetelahPandemi
        )
        if (this.user.alasan === 'Lainnya') {
          formData.append('alasan', this.user.alasanLainnya)
        } else {
          formData.append('alasan', this.user.alasan)
        }
        // eslint-disable-next-line no-console
        console.log(this.user)

        // eslint-disable-next-line no-console
        console.log(...formData)
        alert('Verifikasi Berhasil')
        this.reset()
      } else {
        alert('Gagal Verifikasi')
      }
    },
    randomNumber(min, max) {
      return Math.random() * (max - min) + min
    },
    processAction(callback) {
      const time = Math.floor(this.randomNumber(1400, 1600))
      setTimeout(function () {
        // eslint-disable-next-line node/no-callback-literal
        callback(`${time}`)
      }, time)
    },
    processActionWrap() {
      return new Promise((resolve, reject) => {
        this.processAction((str) => {
          // eslint-disable-next-line no-console
          console.log(str)
          resolve(str)
          this.time = parseInt(str)
        })
      })
    },
    reset() {
      this.$refs.form.reset()
    },
  },
}
</script>

<style scoped></style>
